main{
  background-color: #020F2A;
}

.time{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.time:hover{
  background-color: #020F2A;
  color: white;
  transition: background-color ease-in-out 0.4s;
}